@model IEnumerable<ProjetoHBSIS.Models.SalarioMinimo>

@{
    ViewData["Title"] = "Salário Mínimo";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a id="btnIncluir" asp-action="Create" class="btn btn-default">Incluir Novo</a>
</p>
<table id="tbSalarioMinimo" class="table table-striped table-hover">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">

    $(document).ready(function () {
        loadPage();
    });

    function loadPage() {

        tableSemRegistros();
        habitaIncluirSalarioMinimo();
    }

    function habitaIncluirSalarioMinimo() {

        var rowCount = $('#tbSalarioMinimo tr').length - 1;
        if (rowCount > 0) {
            $("#btnIncluir").hide();
        }
        else {
            $("#btnIncluir").show();
        }
    }

    function tableSemRegistros() {
        var rowCount = $('#tbSalarioMinimo tr').length;

        if (rowCount == 1) {
            $('#tbSalarioMinimo > tbody').html("Nenhum salário mínimo cadastrado!");
        }

    }


</script>