@model IEnumerable<ProjetoHBSIS.Models.Contribuinte>

@{
    ViewData["Title"] = "Contribuinte";
}

<h2> @ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Incluir Novo</a>
</p>
<table id="tbContribuuinte" class="table table-striped table-hover">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDepentedentes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RendaBrutaMensal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td id="CPF">
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDepentedentes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendaBrutaMensal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        loadPage();
    });

    function loadPage() {

        $('.table tr').each(function () {
            $(this).find('#CPF').html($(this).find('#CPF').text().replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4"));
        });

        tableSemRegistros();
    }

    function tableSemRegistros() {
        var rowCount = $('#tbContribuuinte tr').length;
       
        if (rowCount == 1) {
            $('#tbContribuuinte > tbody').html("Nenhum contribuinte cadastrado!");
        }
   
    }

</script>